input {
 display: block;
 position: absolute;
 text-align: left;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

#div_simulation_frame_1128 {
 display: block;
 position: absolute;
 left: 31px;
 top: 46px;
 width: 553px;
 height: 382px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#div_OUTER_group_1009 {
 display: block;
 position: absolute;
 left: 33px;
 top: 6px;
 width: 262px;
 height: 93px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(0,255,255);
 border-style: outset;
 opacity: 1;
}

#button_get_num_controls_1003 {
 left: 6px;
 top: 21px;
 width: 120px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#div_INNER_group_02_1006 {
 display: block;
 position: absolute;
 left: 138px;
 top: 6px;
 width: 118px;
 height: 80px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(255,255,0);
 border-style: outset;
 opacity: 1;
}

#button_list_groups_1004 {
 left: 11px;
 top: 6px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#field_locked_field_1005 {
 position: absolute;
 left: 6px;
 top: 37px;
 width: 100px;
 height: 21px;
}

#button_blank_1013 {
 left: 30px;
 top: 28px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#button_Button01-1_1012 {
 left: 42px;
 top: 53px;
 width: 82px;
 height: 23px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#div_EMPTY_group_1017 {
 display: block;
 position: absolute;
 left: 40px;
 top: 79px;
 width: 8px;
 height: 8px;
 visibility: visible;
 border-width: 2px;
 border-style: none;
 opacity: 1;
}

#div_RADIO_group_1045 {
 display: block;
 position: absolute;
 left: 307px;
 top: 30px;
 width: 95px;
 height: 63px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
}

#radio_Radio2_1043_LABEL {
 left: 6px;
 top: 34px;
}

#radio_Radio2_1043_SPAN {
 margin-left: 22px;
 line-height: 22px;
}

#radio_Radio1_1044_LABEL {
 left: 7px;
 top: 6px;
}

#radio_Radio1_1044_SPAN {
 margin-left: 22px;
 line-height: 22px;
}

#checkbox_Check1_1046_LABEL {
 left: 180px;
 top: 113px;
}

#checkbox_Check1_1046_SPAN {
 margin-left: 22px;
 line-height: 18px;
}

#image_robo_99_png_1059 {
 left: 6px;
 top: 166px;
 width: 178px;
 height: 193px;
 visibility: visible;
 border-style: outset;
 opacity: 1;
 border-width: 0px;
}

#input_field_Field_1084 {
 position: absolute;
 left: 250px;
 top: 216px;
 width: 100px;
 height: 21px;
}

#range_slider_horiz_1104 {
 left: 313px;
 top: 279px;
 width: 187px;
 height: 22px;
}

#select_Option_Menu_1105 {
 left: 358px;
 top: 179px;
 width: 102px;
 height: 22px;
 visibility: visible;
 border-width: 1px;
 border-style: outset;
 opacity: 1;
}

#select_Pulldown_Menu_1106 {
 left: 445px;
 top: 224px;
 width: 102px;
 height: 22px;
 visibility: visible;
 border-width: 1px;
 border-style: outset;
 opacity: 1;
}

#range_slider_vert_1126 {
 transform: rotate(270deg);
 left: 186.5px;
 top: 284px;
 width: 120px;
 height: 22px;
}

#input_field_Field_1127 {
 position: absolute;
 left: 251px;
 top: 355px;
 width: 100px;
 height: 21px;
}

