sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_simFrame {
  display: block;
  position: relative;
  border-color: DodgerBlue;
  left: 10px;
  top: 21px;
  width: 797px;
  height: 544px;
  visibility: visible;
  border-width: 1px;
  border-style: dotted;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#div_reactor {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 13px;
  top: 257px;
  width: 288px;
  height: 210px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
}

#image_reactorImage {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 280px;
  height: 202px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  border-width: 2px;
  background-color: rgba(255, 255, 255, 1);
  LCthreeD: false;
  LCshowBorder: false;
}

#div_PLOTDIV_reactorContents {
  display: block;
  position: absolute;
  left: 98px;
  top: 87px;
  width: 106px;
  height: 67px;
  visibility: visible;
  border-width: 0px;
  border-style: outset;
  opacity: 1;
  border-style: dotted;
  border-color: DodgerBlue;
  LCthreeD: false;
  LCshowBorder: true;
  LCvScrollbar: false;
}

#button_resetButton {
  position: absolute;
  left: 85px;
  top: 5px;
  width: 70px;
  height: 24px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#button_runButton {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 70px;
  height: 24px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#div_operatingParams {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 9px;
  top: 52px;
  width: 283px;
  height: 201px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
}

#field_enter_a_LABEL {
  position: absolute;
  left: 4px;
  top: 118px;
  width: 200px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#field_enter_p_LABEL {
  position: absolute;
  left: 4px;
  top: 149px;
  width: 200px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enter_p {
  position: absolute;
  left: 207px;
  top: 166px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#input_field_enter_a {
  position: absolute;
  left: 207px;
  top: 134px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_enterVminLABEL {
  position: absolute;
  left: 4px;
  top: 86px;
  width: 200px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterVmin {
  position: absolute;
  left: 207px;
  top: 102px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_enterKsLABEL {
  position: absolute;
  left: 4px;
  top: 53px;
  width: 181px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterKs {
  position: absolute;
  left: 207px;
  top: 69px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_enterMUmaxLABEL {
  position: absolute;
  left: 4px;
  top: 21px;
  width: 181px;
  height: 28px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterMUmax {
  position: absolute;
  left: 207px;
  top: 37px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_enterFeedFlowRateLABEL {
  position: absolute;
  left: 4px;
  top: -12px;
  width: 195px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterFeedFlowRate {
  position: absolute;
  left: 207px;
  top: 5px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#div_controller {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 342px;
  top: 39px;
  width: 450px;
  height: 500px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
}

#div_PLOTDIV_plotData {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 430px;
  height: 248px;
  visibility: visible;
  border-width: 0px;
  border-style: outset;
  opacity: 1;
  border-style: dotted;
  border-color: DodgerBlue;
  LCthreeD: false;
  LCshowBorder: true;
  LCvScrollbar: false;
}

#button_copyDataButton {
  position: absolute;
  left: 326px;
  top: 258px;
  width: 104px;
  height: 24px;
  visibility: visible;
  border-width: 2px;
  border-style: outset;
  opacity: 1;
  LCthreeD: true;
  LCshowBorder: true;
}

#field_enterSubstrateFeedConcLABEL {
  position: absolute;
  left: 30px;
  top: 384px;
  width: 198px;
  height: 33px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#field_enterResetTimeLABEL {
  position: absolute;
  left: 30px;
  top: 322px;
  width: 187px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterResetTime {
  position: absolute;
  left: 230px;
  top: 339px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_enterGainLABEL {
  position: absolute;
  left: 30px;
  top: 293px;
  width: 190px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterGain {
  position: absolute;
  left: 230px;
  top: 308px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#field_enterSetpointLABEL {
  position: absolute;
  left: 30px;
  top: 265px;
  width: 189px;
  height: 32px;
  border-width: 1px;
  visibility: visible;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
  font-size: 16px;
}

#input_field_enterSetpoint {
  position: absolute;
  left: 230px;
  top: 278px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

#div_RADIO_group_Controller {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 4px;
  top: 254px;
  width: 163px;
  height: 242px;
  visibility: visible;
  border-width: 1px;
  border-style: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: false;
}

#radio_controllerAUTO_LABEL {
  display: block;
  position: absolute;
  width: 163px;
  height: 28px;
  left: 0px;
  top: 0px;
}

#radio_controllerAUTO_SPAN {
  margin-left: 22px;
  line-height: 22px;
  font-size: 15px;
}

#radio_controllerMANUAL_LABEL {
  display: block;
  position: absolute;
  width: 158px;
  height: 28px;
  left: 0px;
  top: 117px;
}

#radio_controllerMANUAL_SPAN {
  margin-left: 22px;
  line-height: 22px;
  font-size: 15px;
}

#input_field_enterSubstrateFeedConc {
  position: absolute;
  left: 230px;
  top: 399px;
  width: 72px;
  height: 22px;
border-width: 1px;
  visibility: visible;
border-style: solid;
  opacity: 1;
  background-color: rgba(255, 255, 255, 1);
  LCvScrollbar: false;
  LCthreeD: false;
  LCshowBorder: true;
}

/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
