input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

::-ms-tooltip {
 display: none;
}

#div_simFrame {
 display: block;
 position: absolute;
 left: 20px;
 top: 27px;
 width: 838px;
 height: 647px;
 visibility: visible;
 border-width: 1px;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_reactor {
 display: block;
 position: absolute;
 left: 4px;
 top: 227px;
 width: 300px;
 height: 230px;
 visibility: visible;
 border-width: 1px;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#image_reactorImage {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 280px;
 height: 202px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 border-width: 2px;
}

#div_PLOTDIV_reactorContents {
 display: block;
 position: absolute;
 left: 93px;
 top: 84px;
 width: 106px;
 height: 67px;
 visibility: visible;
 border-width: 2px;
 border-style: dotted;
 opacity: 1;
 LCvScrollbar: false;
}

#button_resetButton {
 position: absolute;
 left: 84px;
 top: 4px;
 width: 70px;
 height: 24px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(222,222,222);
 border-style: outset;
 opacity: 1;
}

#button_runButton {
 position: absolute;
 left: 4px;
 top: 4px;
 width: 70px;
 height: 24px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(222,222,222);
 border-style: outset;
 opacity: 1;
}

#div_reactionParams {
 display: block;
 position: absolute;
 left: 4px;
 top: 463px;
 width: 300px;
 height: 180px;
 visibility: visible;
 border-width: 1px;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterdelHLABEL {
 position: absolute;
 left: 0px;
 top: 67px;
 width: 200px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterdelH {
 position: absolute;
 left: 200px;
 top: 67px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterEaLABEL {
 position: absolute;
 left: 0px;
 top: 34px;
 width: 200px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterEa {
 position: absolute;
 left: 200px;
 top: 34px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_control_5 {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 128px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterk300 {
 position: absolute;
 left: 200px;
 top: 0px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#div_operatingParams {
 display: block;
 position: absolute;
 left: 4px;
 top: 38px;
 width: 300px;
 height: 180px;
 visibility: visible;
 border-width: 1px;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterJacketUALABEL {
 position: absolute;
 left: 0px;
 top: 129px;
 width: 200px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterjacketUA {
 position: absolute;
 left: 200px;
 top: 140px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterJacketFlowRateLABEL {
 position: absolute;
 left: 0px;
 top: 101px;
 width: 200px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterJacketFlowRate {
 position: absolute;
 left: 200px;
 top: 101px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterFeedConcLABEL {
 position: absolute;
 left: 0px;
 top: 55px;
 width: 181px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterFeedConc {
 position: absolute;
 left: 200px;
 top: 55px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterFeedTTempLABEL {
 position: absolute;
 left: 0px;
 top: 27px;
 width: 181px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterFeedTTemp {
 position: absolute;
 left: 200px;
 top: 27px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterFeedFlowRateLABEL {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 181px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterFeedFlowRate {
 position: absolute;
 left: 200px;
 top: 0px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#div_controller {
 display: block;
 position: absolute;
 left: 384px;
 top: 38px;
 width: 450px;
 height: 500px;
 visibility: visible;
 border-width: 1px;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#div_PLOTDIV_plotData {
 display: block;
 position: absolute;
 left: 0px;
 top: 0px;
 width: 430px;
 height: 248px;
 visibility: visible;
 border-width: 2px;
 border-style: dotted;
 opacity: 1;
 LCvScrollbar: false;
}

#button_copyDataButton {
 position: absolute;
 left: 326px;
 top: 258px;
 width: 104px;
 height: 24px;
 visibility: visible;
 border-width: 2px;
 background-color: rgb(222,222,222);
 border-style: outset;
 opacity: 1;
}

#field_enterJacketFeedTTempLABEL {
 position: absolute;
 left: 20px;
 top: 420px;
 width: 128px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_enterResetTimeLABEL {
 position: absolute;
 left: 21px;
 top: 335px;
 width: 128px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterResetTime {
 position: absolute;
 left: 217px;
 top: 335px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterGainLABEL {
 position: absolute;
 left: 20px;
 top: 306px;
 width: 128px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterGain {
 position: absolute;
 left: 217px;
 top: 306px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#field_enterSetpointLABEL {
 position: absolute;
 left: 21px;
 top: 278px;
 width: 128px;
 height: 32px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#input_field_enterSetpoint {
 position: absolute;
 left: 217px;
 top: 278px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

#div_RADIO_group_Controller {
 display: block;
 position: absolute;
 left: 4px;
 top: 254px;
 width: 163px;
 height: 242px;
 visibility: visible;
 border-width: 1px;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_controllerAUTO_LABEL {
 width: 163px;
 height: 28px;
 left: 0px;
 top: 0px;
}

#radio_controllerAUTO_SPAN {
 margin-left: 22px;
 line-height: 22px;
 font-size: 14px;
}

#radio_controllerMANUAL_LABEL {
 width: 158px;
 height: 28px;
 left: 0px;
 top: 140px;
}

#radio_controllerMANUAL_SPAN {
 margin-left: 22px;
 line-height: 22px;
 font-size: 14px;
}

#input_field_enterJacketFeedTTemp {
 position: absolute;
 left: 175px;
 top: 388px;
 width: 72px;
 height: 22px;
 visibility: visible;
 opacity: 1;
 LCvScrollbar: false;
}

