input {
 display: block;
 position: absolute;
 text-align: center;
}

input, button {
 text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
 display: block;
 text-align: left;
}

label {
 display: block;
 position: absolute;
}

img {
 display: block;
 position: absolute;
}

select {
 display: block;
 position: absolute;
}

canvas {
 display: block;
 position: absolute;
 text-align: left;
}

::-ms-tooltip {
 display: none;
}

#field_example_label {
 position: absolute;
 left: 59px;
 top: 45px;
 width: 371px;
 height: 91px;
 border-width: 2px;
 visibility: visible;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#div_radio_group_1 {
 display: block;
 position: absolute;
 left: 132px;
 top: 170px;
 width: 141px;
 height: 65px;
 visibility: visible;
 border-width: 2px;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
}

#radio_Radio_button_1_LABEL {
 width: 139px;
 height: 23px;
 left: 6px;
 top: 6px;
}

#radio_Radio_button_1_SPAN {
 margin-left: 22px;
 line-height: 22px;
 font-size: 16px;
}

#radio_Radio_button_2_LABEL {
 width: 139px;
 height: 23px;
 left: 6px;
 top: 36px;
}

#radio_Radio_button_2_SPAN {
 margin-left: 22px;
 line-height: 22px;
 font-size: 16px;
}

#field_output_label {
 position: absolute;
 left: 90px;
 top: 230px;
 width: 91px;
 height: 24px;
 border-width: 2px;
 visibility: visible;
 border-style: none;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}

#field_output_field {
 position: absolute;
 left: 62px;
 top: 257px;
 width: 384px;
 height: 139px;
 border-width: 2px;
 visibility: visible;
 border-style: outset;
 opacity: 1;
 LCvScrollbar: false;
 font-size: 16px;
}
