sup {
  font-size: smaller;
}

sub {
  font-size: smaller;
}

input {
  display: block;
  position: absolute;
  text-align: center;
}

input, button {
  text-align: center;
}

/* do NOT write general style for div since interferes
    with plotting by jquery.flot.js */

p {
  display: block;
  text-align: left;
}

label {
  display: block;
  position: absolute;
}

img {
  display: block;
  position: absolute;
}

select {
  display: block;
  position: absolute;
}

canvas {
  display: block;
  position: absolute;
  text-align: left;
}

::-ms-tooltip {
  display: none;
}

#div_my_radio_group {
  display: block;
  position: absolute;
  border-color: DodgerBlue;
  left: 42px;
  top: 132px;
  width: 93px;
  height: 71px;
  visibility: visible;
  border-width: 2px;
  background-color: rgba(255,255,255, 0);
  border-style: none;
  opacity: 1;
  LCvScrollbar: false;
  LCthreeD: true;
  LCshowBorder: false;
}

#radio_Radio1_LABEL {
  display: block;
  position: absolute;
  width: 82px;
  height: 23px;
  left: 4px;
  top: 4px;
}

#radio_Radio1_SPAN {
  margin-left: 22px;
  line-height: 22px;
  font-size: 16px;
}

#radio_Radio2_LABEL {
  display: block;
  position: absolute;
  width: 82px;
  height: 23px;
  left: 7px;
  top: 44px;
}

#radio_Radio2_SPAN {
  margin-left: 22px;
  line-height: 22px;
  font-size: 16px;
}

/* example @media for responsive design */
/* requires meta viewport element in HTML head */
@media(max-width: 640px) {
  /* change the following when the screen width is <= 640px */
  /* #div_controller {
    top: 600px;
    left: 20px;
   } */
}
